@model WebBarberShopBooking.Models.Appointment

@{
    ViewData["Title"] = "Hủy lịch hẹn";
}

<h1>@ViewData["Title"]</h1>

<h3>Bạn có chắc chắn muốn hủy lịch hẹn này?</h3>
<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Name)
        </dd>
        <dt class="col-sm-2">
            Thợ cắt tóc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stylist.Name)
        </dd>
        <dt class="col-sm-2">
            Ngày giờ hẹn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class="col-sm-2">
            Trạng thái
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <form asp-action="Cancel" asp-route-id="@Model.Id">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xác nhận hủy" class="btn btn-danger" /> |
        <a asp-action="History">Quay lại lịch sử</a>
    </form>
</div>